{
        "template": "logstash-*",
        "mappings": {
                "ssh": {
                        "properties": {
                                "@timestamp": {
                                        "type": "date",
                                        "format": "strict_date_optional_time||epoch_millis"
                                },
                                "@version": {
                                        "type": "string"
                                },
                                "username": {
                                        "type": "string"
                                },
                                "src_ip": {
                                        "type": "string"
                                },
                                "port": {
                                        "type": "long"
                                },
                        }
                }
        }
}
