#!/bin/bash
# Application start/stop script
#
# chkconfig: 2345 92 01
# description:	mirror-maker

# Source function library.
. /etc/init.d/functions

start() {
    mkdir -p {{kafka.dirs.kafka_log}}
    {%for dc in dc_info[region_name]['closest']%}
    {% if (dc | string) != (dc_info[region_name]['dc_number'] | string)%}
    {{kafka.dirs.kafka_home}}/bin/kafka-run-class.sh kafka.tools.MirrorMaker --consumer.config {{kafka.dirs.kafka_home}}/config/consumer_dc{{dc}}.properties --num.streams 2 --producer.config /cluster/kafka/config/producer_dc{{dc}}.properties --whitelist="es_dc{{dc}}" &
    {%endif%}
    {%endfor%}

	return 0
}

stop() {
    ps aux | grep Mirror | grep -v grep | awk '{print $2}' | xargs kill -9
	return 0
}

# See how we were called.
case "$1" in
  start)
	start
	;;
  stop)
	stop
	;;
  *)
	echo $"Usage: $0 {start|stop}"
	exit 2
esac
