input {
        tcp {
                port => 5000
                type => "security"
        }
}

## Add your filters / logstash plugins configuration here

filter {
  grok {
    match => ["message", "Failed password for (invalid user |)%{USERNAME:username} from %{IP:src_ip} port %{BASE10NUM:port} ssh2"]
    add_tag => "ssh_brute_force_attack"
  }
  grok {
    match => ["message", "Accepted password for %{USERNAME:username} from %{IP:src_ip} port %{BASE10NUM:port} ssh2"]
    add_tag => "ssh_sucessful_login"
  }
  geoip {
    source => "src_ip"
  }
}
output {
   if "ssh_brute_force_attack" in [tags] {
         elasticsearch {
                hosts => "elasticsearch:9200"
                #hosts => ["x.x.x.x:9200"]
                index => "logstash-%{+YYYY.MM.dd}"
                manage_template => true
                template_name => "ssh"
                template => "/etc/ssh-map.json"
                template_overwrite => true
         }
   }
}
